<div #bothContainersWidth id="map-results-container">
	<div id="map-container" [style.width]="iMapWidth">
		<agm-map
			[latitude]="0"
			[longitude]="0"
			[(zoom)]="zoom"
			[streetViewControl]="false"
			(boundsChange)="onBoundsChanged($event)"
			(idle)="onMapIdle()"
		>
			<div *ngIf="aMapDots.length > 0">

				<agm-marker *ngFor="let oResult of aMapDots; let i = index"
					[latitude]="oResult.lat"
					[longitude]="oResult.lon"
					[iconUrl]="'/assets/images/dot1_p.png'"
					></agm-marker>
					
			</div>
			<div *ngIf="aMapIcons.length > 0">

				<agm-marker *ngFor="let oResult of aMapIcons; let i = index"
					[latitude]="oResult.lat"
					[longitude]="oResult.lon"
					[iconUrl]="helperService.thumbUrl('i', oResult.id)"
				></agm-marker>
			</div>
		</agm-map>

	</div>
	<div id="map-results" [style.width]="iResultsWidth">

		<div *ngIf="!searchService.bHasSearchResults && !searchService.bSearching">
			no results?
		</div>
		<app-result-grid [sDisplayMode]="'map'"></app-result-grid>
	</div>
</div>
