.env
www-workspace/user-api-laravel/.env.prod
www-workspace/auto/.env.prod
www-workspace/spa/src/assets/compiled/compiled.css
www-workspace/spa/src/assets/compiled/picili.css
www-workspace/spa/package-lock.json
