<!-- folder list -->
<div *ngIf="aFolders.length > 0">
    <div *ngFor="let oFolder of aFolders">

        <a
            [routerLink] = "this.helperService.getBaseRouterLink('folders')"
            [queryParams]="this.helperService.getQVarsWithNewQuery('folder', folderDisplayName(oFolder['name']), oFolder['name'])"
        >
            <div class="ui piled segment folder-overview pointer-link">
                <h4 class="ui header folder-title" title="{{oFolder['parent']}}">{{oFolder['parent']}}</h4>
                <div>
                    <img class="folder-thumb" [src]="helperService.thumbUrl('s', oFolder['file-id'])" />
                </div>
                <div>
                    <br/>
                    <span><i class="fa fa-picture-o" aria-hidden="true"></i> {{oFolder['count'] | number}} picture<span *ngIf="oFolder['count'] > 1">s</span></span>
                </div>
            </div>
        </a>

    </div>
</div>

<!-- search results -->
<div *ngIf="!searchService.bEmptyQuery() && aFolders.length === 0">
    no results for your query..
</div>
<app-result-grid></app-result-grid>
