<div id="header">
    <span class="header-font"><a [routerLink]="['/']">picili</a></span>
    <span *ngIf="searchService.bSearching">searching</span>
    
    <div id="top-right-links">

        <!-- logged in -->
        <div *ngIf="bAuthenticated">
            <span *ngIf="bProcessing" class="ui tiny"><i class="fa fa-cogs"></i>{{cProcessingFiles | number}} file(s) to go, across {{cProcessingTasks | number}} tasks</span>
            <!-- on users own page -->

            <!-- not on users own page -->
            <a *ngIf="sUsername !== ''" [routerLink]="['/' + sUsername]" class="ui tiny primary button">your page</a>

            
            <a *ngIf="sUsername !== ''" [routerLink]="['/' + sCurrentPageUsername + '/settings']" class="ui tiny button">settings</a>

            <!-- logout -->
            <a class="ui tiny button" (click)="onLogout()">logout</a>
        </div>
        <!-- not logged in - guest -->
        <div *ngIf="!bAuthenticated">
            <a class="ui tiny button" [routerLink]="['/login']">login</a>
            <!--<a class="ui tiny button" [routerLink]="['/register']">register</a>-->
        </div>
    </div>
</div>
