<div class="indeterminate-loading-bar progress" *ngIf="searchService.bSearching || httpService.bMakingRequestToServer">
    <div class="indeterminate"></div>
</div>

<div id="header">

    <span class="header-font"><a [routerLink]="['/' + sUserId + '/']">picili</a></span>
    
    <div id="top-right-links">

        <!-- logged in -->
        <div *ngIf="bAuthenticated">
			<span
				id="processing-header-output"
				*ngIf="bProcessing"
				class="ui basic tiny label"
				title="{{cProcessingFiles | number}} file(s) to go, across {{cProcessingTasks | number}} task(s)"
			>
				<i class="fa fa-cogs"></i>&nbsp;
				Synchronising / Processing
			</span>
            
            <a *ngIf="sUsername !== ''" [routerLink]="['/' + sUserId + '/settings']" class="ui tiny button">
                <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;settings
            </a>

            <a class="ui tiny button" (click)="onLogout()">logout</a>
        </div>
        <!-- not logged in - guest -->
        <div *ngIf="!bAuthenticated">
            <a class="ui tiny button" [routerLink]="['/login']">login</a>
            <a class="ui tiny button" [routerLink]="['/register']">register</a>
        </div>
    </div>
</div>
