<div class="indeterminate-loading-bar progress" *ngIf="searchService.bSearching || httpService.bMakingRequestToServer">
    <div class="indeterminate"></div>
</div>

<div id="header">

    <span class="header-font"><a [routerLink]="['/' + sUserId + '/']">picili</a></span>
    
    <div id="top-right-links">

        <!-- logged in -->
        <div *ngIf="bAuthenticated">
            <span *ngIf="bProcessing" class="ui tiny"><i class="fa fa-cogs"></i>&nbsp;{{cProcessingFiles | number}} file<span *ngIf="cProcessingFiles > 1">s</span> to go, across {{cProcessingTasks | number}} task<span *ngIf="cProcessingTasks > 1">s</span>&nbsp;&nbsp;</span>

            
            <a *ngIf="sUsername !== ''" [routerLink]="['/' + sUserId + '/settings']" class="ui tiny button">
                <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;settings
            </a>

            <a class="ui tiny button" (click)="onLogout()">logout</a>
        </div>
        <!-- not logged in - guest -->
        <div *ngIf="!bAuthenticated">
            <a class="ui tiny button" [routerLink]="['/login']">login</a>
            <a class="ui tiny button" [routerLink]="['/register']">register</a>
        </div>
    </div>
</div>
