{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.ts *.spec.ts *.tsx",
            "options": {
                "semi": true
            }
        }
    ]
}