/*
//
// SASS DECLARATIONS
//
*/
/*
//
// RESETS
//
*/
body {
  margin: 0px; }

a, a:hover, a:visited, a:active {
  color: black; }

.ui.vertical.segment {
  border-bottom: 0px; }

/*
//
// STRUCTURE
//
*/
#header {
  /*border-bottom: 1px solid #e7e7e7;*/
  height: 58px;
  padding: 8px;
  padding-top: 12px;
  border-bottom: 1px solid #e0e0e0; }

#search-input-container {
  width: 1000px; }

#header input#free-text-input {
  height: 30.84px; }

#main-page {
  padding: 8px; }

#menu-search-container {
  position: absolute;
  top: 74px;
  left: 8px;
  right: 8px;
  bottom: 8px; }

#side-menu {
  float: left;
  width: 100px;
  padding-right: 8px; }

#results-space {
  margin-left: 117px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px; }

#top-right-links {
  float: right;
  position: relative; }

#sort-block {
  height: 60px;
  padding-top: 12px; }

#sort-menu {
  margin-top: 0px;
  float: right; }

#cal-sort-menu {
  margin-top: 0px;
  float: right; }

/*
//
// SMALL HELPERS
//
*/
.header-font {
  position: relative;
  font-family: "PT Sans Caption", sans-serif;
  font-size: xx-large;
  top: 6px; }

.middle-form-column {
  position: relative;
  top: 150px;
  width: 350px; }

.ui.button.primary,
.ui.button.primary:link,
.ui.button.primary:visited,
.ui.button.primary:hover,
.ui.button.primary:active {
  background: #D32F2F; }

a.picili-link,
a.picili-link:link,
a.picili-link:visited,
a.picili-link:hover,
a.picili-link:active {
  color: #D32F2F; }

.loading-gray-text {
  color: grey; }

.success-green-text {
  color: green;
  font-weight: 800; }

.pointer-link {
  cursor: pointer; }

/*
//
// MENUS
//
*/
#side-menu {
  margin-top: 160px; }

#side-menu ul {
  list-style: none;
  padding-left: 0px; }

#side-menu ul li {
  margin-bottom: 40px; }

#side-menu ul li a {
  color: #e0e0e0;
  display: block;
  width: 100%; }

#side-menu ul li a.active {
  color: grey;
  font-weight: bold; }

#side-menu ul li a.active span {
  font-size: 16px; }

#side-menu ul li a.active i {
  font-size: 30px; }

#side-menu ul li a i, #side-menu ul li a span {
  width: 100%;
  display: block;
  text-align: center; }

#side-menu ul li a i {
  font-size: 26px;
  padding-bottom: 6px; }

#side-menu ul li a span {
  font-size: 14px;
  text-transform: capitalize; }

li#settings-link {
  border-top: 1px solid gray; }

#user-menu-button {
  position: relative; }

#user-dropdown-menu {
  position: absolute;
  right: 0px;
  background: white;
  z-index: 100; }

/*
//
// APPLICATION
//
*/
#search-bar-space {
  padding-top: 0px; }

#search-input {
  width: 100%; }

#filters-block.ui.segment {
  padding: 8px;
  padding-left: 0px;
  padding-right: 0px;
  height: 44px; }

#clear-filters {
  float: right;
  margin-top: -8px;
  margin-right: 0px; }

.ui.piled.segment.folder-overview {
  width: 158px;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px; }

.results-block {
  overflow-y: auto;
  position: absolute;
  bottom: 0px;
  height: 100%; }

img.result-thumb {
  margin-right: 8px;
  margin-bottom: 8px;
  vertical-align: top;
  display: inline-block;
  cursor: pointer; }

img.result-thumb.square {
  width: 125px;
  height: 125px; }

.show-more {
  width: 100%;
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 6px;
  display: block;
  color: grey; }

.show-more:hover {
  border-color: grey;
  color: black; }

.app-result-grid {
  display: block; }

.justified-row {
  margin-bottom: 8px; }

.justified-row img {
  width: auto;
  max-height: 100%;
  margin-right: 8px; }

.justified-row img:last-child {
  margin-right: 0px; }

#sort-info {
  float: left; }

#sort-block {
  line-height: 40px; }

#page-space {
  padding-top: 16px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 170px;
  bottom: 0px; }

img.folder-thumb {
  display: block;
  height: 125px;
  width: 125px; }

#map-results-container {
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

#map-container {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px; }

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }

.sebm-google-map-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }

#map-results {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  overflow-y: auto; }

.month {
  height: 100%; }

.week {
  height: 100%; }

.day {
  width: 14.28571%;
  display: inline-block;
  vertical-align: top; }

.week .day {
  height: 100%; }

.month .day {
  height: 18%;
  overflow: hidden; }

.calendar-date {
  font-size: 24px;
  color: #e0e0e0; }

.calendar-date.with-files {
  color: grey; }

.month .day.today {
  border: 1px solid #D32F2F;
  border-radius: 5px; }

.day .day-title {
  font-size: 1.1em;
  padding-bottom: 16px;
  color: #e0e0e0; }

.day-title.with-files {
  color: grey; }

.day-title .day-count {
  display: none; }

.day-title.with-files .day-count {
  display: inline-block; }

.day img {
  padding: 2px; }

.week .day img {
  width: 45%; }

.month .day img {
  width: 32px;
  height: 32px;
  display: block; }

.month .day.day-header {
  height: 10%;
  overflow: hidden;
  color: #e0e0e0; }

.day-header.same-as-today {
  font-weight: bold;
  color: grey; }

#centered-calendar-header {
  font-size: larger;
  margin-left: auto;
  font-size: larger;
  margin-right: auto;
  display: inline-block;
  left: 200px;
  right: 300px;
  position: absolute;
  text-align: center; }

/*
#lightbox{
	z-index: 200;
	position: absolute;
	background: white;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
}
*/
#lightbox {
  position: fixed;
  z-index: 10000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white; }

#lightbox-contained {
  right: 40px;
  top: 0px;
  bottom: 0px; }

#lightbox-file-content {
  position: absolute;
  left: 8px;
  right: 80px;
  top: 8px;
  bottom: 8px; }

#lightbox-file-content img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1.0; }

#lightbox-file-info {
  position: absolute;
  right: 50px;
  top: 16px;
  bottom: 16px;
  width: 0px;
  overflow: hidden;
  overflow-y: auto; }

.lightbox-button {
  position: absolute;
  right: 16px;
  cursor: pointer;
  font-size: 36px;
  color: #e0e0e0; }

.lightbox-button:hover {
  color: #D32F2F; }

#lightbox-close {
  top: 8px;
  margin-right: -5px; }

#lightbox-info {
  top: 56px;
  font-size: 26px; }

#lightbox-left {
  bottom: 56px; }

#lightbox-right {
  bottom: 8px; }

#lightbox.with-info #lightbox-file-content {
  right: 300px; }

#lightbox.with-info #lightbox-file-info {
  width: 240px; }

#lightbox-map img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: 'icomoon';
  src: url("./assets/fonts/icomoon.eot?ggk0um");
  src: url("./assets/fonts/icomoon.eot?#iefixggk0um") format("embedded-opentype"), url("./assets/fonts/icomoon.woff?ggk0um") format("woff"), url("./assets/fonts/icomoon.ttf?ggk0um") format("truetype"), url("./assets/fonts/icomoon.svg?ggk0um#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
.icon-pricetags:before {
	content: "\e602";
}
*/
.icon-tag:before {
  content: "\e601"; }

.icon-close:before {
  content: "\e600"; }
