<div id="lightbox" *ngIf="searchService.mData" [ngClass]="{'with-info': bShowingInfo}">
    <div id="lightbox-contained">
        <div id="lightbox-file-content">
            <img
                [src]="helperService.thumbUrl('xl', searchService.mData.search.results[searchService.iActiveThumb].id)"
                [style.background-color]="searchService.mData.search.results[searchService.iActiveThumb].colour"
            />
        </div>

        <div id="lightbox-file-info" ng-cloak ng-if="jsonLightFile">
            <div *ngIf="!bLoadingInfo && jFileInfo">
				<div
					class="ui disabled header"
					*ngIf="jFileInfo.address || jFileInfo.altitude"
				>
					<span *ngIf="jFileInfo.address">
						{{jFileInfo.address}}
					</span>
					<span *ngIf="jFileInfo.altitude">
							<span *ngIf="jFileInfo.address">(</span>{{jFileInfo.altitude | number : '1.0-0'}}m<span *ngIf="jFileInfo.address">)</span>
					</span>
                    <br/>
                </div>
                <h5 class="ui header">{{jFileInfo.date}}</h5>


                <div *ngIf="jFileInfo.lat && jFileInfo.lon" id="lightbox-map">
                    <br />
                    <img border="0" src="//maps.googleapis.com/maps/api/staticmap?center={{jFileInfo.lat}},{{jFileInfo.lon}}&amp;zoom=14&amp;size=240x160&key=AIzaSyBETgviS0P570fk29ksPR0PdeBFqHUGHAI" alt="{{jFileInfo.address}}">
                </div>
                <div *ngIf="jFileInfo.dropboxPath">
                    <br />
                    <i class="icon simple dropbox"></i>&nbsp;On disk: {{jFileInfo.dropboxPath}}
                </div>

                <br />
                <div class="ui labels">
                    <a
                        class="ui label lightbox-fileinfo-tag" *ngFor="let sTag of jFileInfo.tags"
                        [routerLink] = "this.helperService.getBaseRouterLink('search')"
                        [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(sTag.literal)"
                        (click)="tagClicked()"
                        [title]="sTag.confidence + '%'"
                    >{{sTag.literal}}</a>
                </div>
                <br />
                <div class="ui labels">
                    <a
                        class="ui label lightbox-fileinfo-tag" *ngFor="let sTag of jFileInfo.place_tags"
                        [routerLink] = "this.helperService.getBaseRouterLink('search')"
                        [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(sTag.literal)"
                        (click)="tagClicked()"
                        [title]="sTag.confidence + '%'"
                    >{{sTag.literal}}</a>
                </div>
                <div *ngIf="jFileInfo.plantdata">
                  <br />
                  <div *ngIf="jFileInfo.plantdata.genus">
                    Genus: <a
                      class="ui label lightbox-fileinfo-tag"
                      [routerLink] = "this.helperService.getBaseRouterLink('search')"
                      [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(jFileInfo.plantdata.genus.literal)"
                      (click)="tagClicked()"
                      [title]="jFileInfo.plantdata.genus.confidence + '%'"
                     >{{jFileInfo.plantdata.genus.literal}}</a><br/>
                  </div>

                  <div *ngIf="jFileInfo.plantdata.family">
                    Family: <a
                      class="ui label lightbox-fileinfo-tag"
                      [routerLink] = "this.helperService.getBaseRouterLink('search')"
                      [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(jFileInfo.plantdata.family.literal)"
                      (click)="tagClicked()"
                      [title]="jFileInfo.plantdata.family.confidence + '%'"
                     >{{jFileInfo.plantdata.family.literal}}</a><br/>
                  </div>

                  <div *ngIf="jFileInfo.plantdata.scientificname">
                    Scientific name: <a
                      class="ui label lightbox-fileinfo-tag"
                      [routerLink] = "this.helperService.getBaseRouterLink('search')"
                      [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(jFileInfo.plantdata.scientificname.literal)"
                      (click)="tagClicked()"
                      [title]="jFileInfo.plantdata.scientificname.confidence + '%'"
                     >{{jFileInfo.plantdata.scientificname.literal}}</a><br/>
                  </div>

                  <div *ngIf="jFileInfo.plantdata.gbif">
                    <a target="_blank" href="https://www.gbif.org/species/{{jFileInfo.plantdata.gbif.literal}}"><u>GBIF*</u></a>: <a
                      class="ui label lightbox-fileinfo-tag"
                      [routerLink] = "this.helperService.getBaseRouterLink('search')"
                      [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(jFileInfo.plantdata.gbif.literal)"
                      (click)="tagClicked()"
                      [title]="jFileInfo.plantdata.gbif.confidence + '%'"
                     >{{jFileInfo.plantdata.gbif.literal}}</a><br/>
                  </div>

                  <div *ngIf="jFileInfo.plantdata.commonname">
                    Common name(s):
                    <a
                      class="ui label lightbox-fileinfo-tag"
                      *ngFor="let sTag of jFileInfo.plantdata.commonname"
                      [routerLink] = "this.helperService.getBaseRouterLink('search')"
                      [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(sTag.literal)"
                      (click)="tagClicked()"
                      [title]="sTag.confidence + '%'"
                    >{{sTag.literal}}</a>
                  </div>

                </div>


                <div *ngIf="jFileInfo.ocr">
                  <br />
                  <div class="ui labels">
                    <a
                        class="ui label lightbox-fileinfo-tag" *ngFor="let sTag of jFileInfo.ocr"
                        [routerLink] = "this.helperService.getBaseRouterLink('search')"
                        [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(sTag.literal)"
                        (click)="tagClicked()"
                        [title]="sTag.confidence + '%'"
                    >{{sTag.literal}}</a>
                  </div>
                </div>


                <div *ngIf="jFileInfo.numberplate">
                  <br />
                  <div class="ui labels">
                    <a
                        class="ui label lightbox-fileinfo-tag" *ngFor="let sTag of jFileInfo.numberplate"
                        [routerLink] = "this.helperService.getBaseRouterLink('search')"
                        [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(sTag.literal)"
                        (click)="tagClicked()"
                        [title]="sTag.confidence + '%'"
                    >{{sTag.literal}}</a>
                  </div>
                </div>

            </div>
            <div class="ui active inverted dimmer" *ngIf="bLoadingInfo">
                <div class="ui large text loader">loading&nbsp;information..</div>
            </div>
        </div>

        <a class="lightbox-button" id="lightbox-close" (click)="eCloseLightbox()">
            <i class="icon-close" aria-hidden="true"></i>
        </a>
        <a class="lightbox-button" id="lightbox-info" (click)="eToggleFileInfo()">
            <i class="icon-tag"></i>
        </a>

        <a class="lightbox-button" id="lightbox-left" (click)="eLightboxNav(-1)">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="lightbox-button" id="lightbox-right" (click)="eLightboxNav(1)">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
