<div id="lightbox" *ngIf="searchService.mData" [ngClass]="{'with-info': bShowingInfo}">
    <div id="lightbox-contained">
        <div id="lightbox-file-content">
            <img
                [src]="helperService.thumbUrl('xl', searchService.mData.search.results[searchService.iActiveThumb].id)"
                [style.background-color]="searchService.mData.search.results[searchService.iActiveThumb].colour"
            />
        </div>

        <div id="lightbox-file-info" ng-cloak ng-if="jsonLightFile">
            <div *ngIf="!bLoadingInfo && jFileInfo">
                <div class="ui disabled header" *ngIf="jFileInfo.address && jFileInfo.altitude">{{jFileInfo.address}} ({{jFileInfo.altitude | number}}m)
                    <br/>
                </div>
                <h5 class="ui header">{{jFileInfo.date}}</h5>
                <br/>
                <div class="ui labels">
                    <a 
                        class="ui label lightbox-fileinfo-tag" *ngFor="let sTag of jFileInfo.tags"
                        [routerLink] = "this.helperService.getBaseRouterLink('search')"
                        [queryParams]="this.helperService.getRawQueryVarsWithNewQuery(sTag)"
                        (click)="tagClicked()"
                    >{{sTag}}</a>
                </div>
                <br/>

                <div *ngIf="jFileInfo.lat && jFileInfo.lon" id="lightbox-map">
                    <img border="0" src="//maps.googleapis.com/maps/api/staticmap?center={{jFileInfo.lat}},{{jFileInfo.lon}}&amp;zoom=14&amp;size=240x160&key=AIzaSyBETgviS0P570fk29ksPR0PdeBFqHUGHAI" alt="{{jFileInfo.address}}">
                </div>
            </div>
            <div class="ui active inverted dimmer" *ngIf="bLoadingInfo">
                <div class="ui large text loader">oading&nbsp;information..</div>
            </div>
        </div>

        <a class="lightbox-button" id="lightbox-close" (click)="eCloseLightbox()">
            <i class="icon-close" aria-hidden="true"></i>
        </a>
        <a class="lightbox-button" id="lightbox-info" (click)="eToggleFileInfo()">
            <i class="icon-tag"></i>
        </a>

        <a class="lightbox-button" id="lightbox-left" (click)="eLightboxNav(-1)">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="lightbox-button" id="lightbox-right" (click)="eLightboxNav(1)">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
