
<div *ngIf="
    !searchService.bSearching && 
    (oDateResults === null || oDateResults.length === 0) && 
    (searchService.sCalendarSearchMode === 'day' ||
    searchService.sCalendarSearchMode === 'week' ||
    searchService.sCalendarSearchMode === 'month')">
    no results?
</div>
<!-- day view uses the shared result-grid component which has its own search spinner -->
<div class="ui active inverted dimmer" *ngIf="searchService.bSearching && searchService.sCalendarSearchMode !== 'day'">
    <div class="ui large text loader">Searching</div>
</div>

<!-- day view -->
<div *ngIf="searchService.sCalendarSearchMode === 'day'">
    <app-result-grid></app-result-grid>
</div>

<!-- week view -->
<div *ngIf="searchService.sCalendarSearchMode === 'week' && searchService.mData && searchService.mData.search.aggs" class="week">
    
    <div *ngFor="let oDay of oDateResults; let d = index" class="day">
        <a (click)="goToDate(aAvailableDates[d])">
            <div class="day-title" [ngClass]="{'with-files': oDay.count}">{{formatWeekDateHeader(aAvailableDates[d])}}<span class="day-count">&nbsp;({{oDay.count}})</span></div>

            <img
                *ngFor="let oResult of oDay.files;let i = index"
                [src]="helperService.thumbUrl('s', oResult)"
                [style.background-color]="white"
            />
        </a>
    </div>
</div>

<!-- month view -->
<div *ngIf="searchService.sCalendarSearchMode === 'month' && searchService.mData && searchService.mData.search && searchService.mData.search.aggs" class="month">
    <!-- week day headers -->
    <div
        *ngFor="let sDayLiteralHeader of aLiteralDays; let d = index"
        class="day day-header"
        [ngClass]="{'same-as-today': aAvailableDates[d] === oCurrentDate}"
    >{{sDayLiteralHeader}}</div>

    <!-- results -->
    <div *ngFor="let oDay of oDateResults; let d = index" class="day" [ngClass]="{'today': aAvailableDates[d] === oCurrentDate}">
        <a (click)="goToDate(aAvailableDates[d])">
            <span class="calendar-date" [ngClass]="{'with-files': oDay.count}">{{d + 1}}</span> <!--<span *ngIf="oDay.count">({{oDay.count}})</span>--><br/>
            <img
                *ngFor="let oResult of oDay.files;let i = index"
                [src]="helperService.thumbUrl('i', oResult)"
                [style.background-color]="oResult.colour"
            />
        </a>
    </div>
</div>

<!-- year view -->
<div *ngIf="searchService.sCalendarSearchMode === 'year' && searchService.mData && searchService.mData.search.aggs">
    {{searchService.mData.search.aggs | json}}
</div>
